body {
    background-image: url(../images/pokemon-in-the-wild.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo {
    width: 200px;
}

.card-title {
    text-align: center;
}


.row {
    margin: 20px;
}

.jumbotron {
    margin: 10%;
    padding-bottom: 1%;
    background-color: rgba(209, 169, 241, 0.384);
}

.back {
    height: 475px;
    width: 475px
}

@media only screen and (max-width: 600px) {
    .rounded {
        height: 250px;
        width: 250px
    }
}

.table {
    background-color: rgba(209, 169, 241, 0.712);
}

body {
    font-family: 'Girassol', cursive;
}

.display-4{
    font-size: 65px;
    color: rgb(77, 24, 121);
}

.btn {
    background-color: rgb(77, 24, 121);
}