body {
    background-image: url(../images/trophy.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo {
    width: 200px;
}

.card-title {
    text-align: center;
}


.row {
    margin: 20px;
}

.jumbotron {
    margin: 10%;
    padding-bottom: 1%;
    background-color: rgba(209, 169, 241, 0.384);
    /* background-color: ; */
}

.back {
    height: 475px;
    width: 475px
}

@media only screen and (max-width: 600px) {
    .rounded {
        height: 250px;
        width: 250px
    }
}


body {
    font-family: 'Girassol', cursive;
}

.display-4{
    font-size: 65px;
    color: rgba(77, 24, 121, 0.849);
}

.btn.remove {
    background-color: rgb(157, 96, 206);
}

.btn {
    background-color: rgb(77, 24, 121);
}

.item {
    background-color: rgba(83, 125, 204, 0.795);
}

.card-title {
    margin-top: 10%;
    color: rgb(77, 24, 121);
}

.lead {
    color: rgb(77, 24, 121)
}

@media (min-width: 650px) {
    .card-title {
        font-size: 50px;
    }
}