body {
    background-image: url(../images/glacier.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.jumbotron {
    margin: 10%;
    padding-bottom: 1%;
    background-color: rgba(137, 223, 230, 0.267);
}

.back {
    height: 475px;
    width: 475px
}

@media only screen and (max-width: 600px) {
    .rounded {
        height: 250px;
        width: 250px
    }
}

.table {
    background-color: rgba(153, 228, 238, 0.712);
}

.btn-success {
    background-color: rgb(110, 223, 238);
}