body {
    background-image: url(../images/glacier.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo {
    width: 200px;
}

.card-title {
    text-align: center;
}


.row {
    margin: 20px;
}

.jumbotron {
    margin: 10%;
    padding-bottom: 1%;
    background-color: rgba(137, 223, 230, 0.267);
}

.back {
    height: 475px;
    width: 475px
}

@media only screen and (max-width: 600px) {
    .rounded {
        height: 250px;
        width: 250px
    }
}

.table {
    background-color: rgba(153, 228, 238, 0.712);
}

.display-4{
    font-size: 100px;
    color: rgb(17, 86, 107);
    font-family: 'Girassol', cursive;
}

.table, .lead {
    font-size: 20px;
    color: rgb(17, 86, 107);
    font-family: 'Girassol', cursive;
}

.price {
    font-size: 30px;
    font-weight: 500;
    color: rgb(17, 86, 107);
    font-family: 'Girassol', cursive;
}

.btn-success {
    background-color: rgb(17, 86, 107);
}

.custom {
    cursor: url(../images/ditto.png), default;
}