body {
    background-image: url(../images/pokemasters.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo {
    width: 200px;
}

/* nav {
    background:transparent;
} */

.card-title {
    text-align: center;
}

/* form {
    align-items: center;
} */
/* 
.card {
    margin: .5rem 0 1rem 0;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
} */

.row {
    margin: 20px;
}