body {
    background-image: url(../images/pokemasters.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo {
    width: 200px;
}

.card-title {
    text-align: center;
}


.row {
    margin: 20px;
}

body {
    font-family: 'Girassol', cursive;
}

.custom {
    cursor: url(../images/ditto.png), default;
}

.card-title {
    font-size: 35px;
    color: cornflowerblue
}

.btn {
    font-size: 18px;
    color:rgb(26, 141, 235)
}
