body {
    background-image: url(../images/pokemasters.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo {
    width: 200px;
}

.card-title {
    text-align: center;
}


.row {
    margin: 20px;
}

/* .card{
    box-sizing: border-box;
    margin-bottom: 1000px;
} */
