body {
    background-image: url(../images/thankyou.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo {
    width: 200px;
}

.card-title {
    text-align: center;
}


.jumbotron {
    margin: 10%;
    margin-left: 1%;
    padding-bottom: 1%;
    /* background-color: rgba(230, 137, 137, 0.116); */
    background-color: transparent;
}

.back {
    height: 475px;
    width: 475px
}

@media only screen and (max-width: 600px) {
    .rounded {
        height: 250px;
        width: 250px
    }
}

.table {
    background-color: rgba(153, 228, 238, 0.712);
}

body {
    font-family: 'Girassol', cursive;
}

.display-4{
    /* font-size: 100px; */
    color: rgb(80, 156, 65);
}

.table, .lead {
    font-size: 20px;
    color: rgb(17, 86, 107);
}

.custom {
    cursor: url(../images/ditto.png), default;
}

@media (min-width: 650px) {
    .display-4 {
        font-size: 100px;
    }
}