body {
    background-image: url(../images/coast.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.jumbotron {
    margin: 10%;
    padding-bottom: 1%;
    background-color: rgba(104, 149, 233, 0.267);
}

.back {
    height: 475px;
    width: 475px
}

@media only screen and (max-width: 600px) {
    .rounded {
        height: 250px;
        width: 250px
    }
}

.table {
    background-color: rgba(69, 120, 228, 0.712);
}