body {
    background-image: url(../images/coast.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo {
    width: 200px;
}

.card-title {
    text-align: center;
}


.row {
    margin: 20px;
}

.jumbotron {
    margin: 10%;
    padding-bottom: 1%;
    background-color: rgba(104, 149, 233, 0.267);
}

.back {
    height: 475px;
    width: 475px
}

@media only screen and (max-width: 600px) {
    .rounded {
        height: 250px;
        width: 250px
    }
}

body {
    font-family: 'Girassol', cursive;
}

.table {
    background-color: rgba(114, 149, 223, 0.452);
}

.display-4{
    font-size: 100px;
    color: rgb(18, 61, 153);
}

.table, .lead {
    font-size: 20px;
    color: rgb(22, 74, 185);
}

.price {
    font-size: 30px;
    font-weight: 500;
    color: rgb(22, 74, 185);
}

.btn-primary {
    background-color: rgb(22, 74, 185);
}

.custom {
    cursor: url(../images/ditto.png), default;
}